body {
  background-color: orange;
}
h1{
 color:black; 
  
  
}
.comic {
 font-family:Cursive;
 color:magenta;
 
}
.pixel {
 font-family:'pixel';
 color:black;
 
}
.sad {
color:red;
 
}
a:link {
  text-decoration: none
}
a:hover {
  text-decoration: underline
}
@font-face {
font-family: "pixel";
src: url("fonts/minecraft-webfont.woff2");
src: url("fonts/minecraft-webfont.woff") format("woff"),
}
