
@font-face {
font-family: "pixel";
src: url("fonts/vt323-regular-webfont.woff2") format("woff2"),
src: url("fonts/vt323-regular-webfont.woff") format("woff"),
}

.pixel {
 font-family:'pixel',;
 
 
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a {
 text-align:center;
 
 
}

