    /* The navigation bar */
    
    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        /* Set the navbar to fixed position */
        top: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* Full width */
        left: 0;
    }
    /* Links inside the navbar */
    
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change background on mouse-over */
    
    .navbar a:hover {
        background: #ddd;
        color: black;
    }
    /* Main content */
    
    .main {
        margin-top: 30px;
        /* Add a top margin to avoid content overlay */
    }
    
    body {
        background-color: Orange;
        margin: auto 25px 25px 25px;
    }
    
    h1 {
        color: black;
    }
    
    .comic {
        font-family: Cursive;
        color: magenta;
    }
    
    .pixel {
        font-family: 'pixel';
        color: black;
    }
    
    .sad {
        color: red;
    }
    
    a:link {
        text-decoration: none
    }
    
    a:hover {
        text-decoration: underline
    }
    
    @font-face {
        font-family: "pixel";
        src: url("fonts/minecraft-webfont.woff2");
        src: url("fonts/minecraft-webfont.woff") format("woff"),
    }
    
    #gameFinder {
        background-image: url('searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        box-sizing: border-box;
    }
    
    .search-container {
        margin-right: 50px;
    }